@model inClass1b.mvc.ViewModels.SupplierProductsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SupplierProductsVM</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <th>Supplier</th>
            <td>@Model.Supplier.Vendor</td>
        </tr>
        <tr>
            <th>Supplier Email</th>
            <td>@Model.Supplier.SupplierEmail</td>
        </tr>
        <tr>
            <th>Products</th>
        </tr>
        <tr>
            <th>Name</th><th>Mfg</th><th>Price</th>
        </tr>
                <ul>
                    @foreach (var item in Model.Products)
                    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Mfg</td>
            <td>@item.Price</td>
        </tr>
                    }
                </ul>
    </tbody>
</table>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { vender=Model.Supplier.Vendor}) |*@
    <a asp-action="Index">Back to List</a>
</div>
