@model IEnumerable<inClass1b.mvc.ViewModels.SupplierProductsVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.SupplierEmail)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Vendor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierEmail)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Vendor=@item.Supplier.Vendor })
                </td>
            </tr>
        }
    </tbody>
</table>
